<ion-tabs>
  <ion-tab-bar slot="bottom" class="tab-footer">
    <ion-tab-button class="tab-button-lotery" tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button class="tab-button-lotery" tab="resultados-anteriores">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>Resultados Anteriores</ion-label>
    </ion-tab-button>

    <ion-tab-button class="tab-button-lotery" tab="sorteo-en-vivo">
      <ion-icon name="dice-outline"></ion-icon>
      <ion-label>Sorteo en Vivo</ion-label>
    </ion-tab-button>

    <ion-tab-button class="tab-button-lotery" tab="ganadores">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Ganadores</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>