ion-label{
    font-family:'Digital Numbers Regular' !important;
    font-weight:normal !important;
    border:2px solid black !important;
    text-align: center !important;
    color: #E4A500 !important;
    padding:5px !important;
    border-radius: 8px !important;
}